{sub_dirs, [
            "apps/",
            "rel"
            ]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info,
            fail_on_warning,
            {parse_transform, lager_transform}]}.

{deps, [{lager, ".*", {git, "https://github.com/mbrix/lager.git"}},
        {eleveldb, ".*", {git, "https://github.com/mbrix/eleveldb.git"}}]}.
